logs
project/project
project/target
target
tmp
bin
libexec
.history
dist
.sbtserver
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver.lock
idea.sbt
play-fork-run.sbt
sbt-ui.sbt